  <style type=text/css>
    h1 { background-image: url({{ url_for('static', filename='login.png') }}); }
  </style>
Most Valuable Coin Token
<h2>Pallet Crypto Token</h2>
  <form action="{{ url_for('general.first_login') }}" method=post>
    <p>
      Enter Your Pallet Crypto Token Address</a>
    <dl>
      <dd><input type=text name=name value="{{ request.values.name }}" size=30>
    </dl>
    <p>
      <input type=hidden name=next value="{{ next }}">
      <input type=submit value=Login>
      <input type=submit name=cancel value=Got It>
  </form>
