{% extends "layout.html" %}
{% block head %}
  {{ super() }}
  <style type=text/css>
    h1 { background-image: url({{ url_for('static', filename='login.png') }}); }
  </style>
{% endblock %}
{% block title %}Login Using Your Pallet Crypto Token Address{% endblock %}
{% block body %}
  <h2>Pallet Crypto Token</h2>
  <form action="{{ url_for('general.first_login') }}" method=post>
    <p>
      Enter Your Pallet Crypto Token Address</a>
    <dl>
      <dt>Pallet Crypto Token Address
      <dd><input type=text name=name value="{{ request.values.name }}" size=30>
    </dl>
    <p>
      <input type=hidden name=next value="{{ next }}">
      <input type=submit value=Continue>
      <input type=submit name=cancel value=Cancel>
  </form>
{% endblock %}
