  <style type=text/css>
    h1 { margin: 0 0 30px 0; background: url({{ url_for('static', filename='logo.png') }}) no-repeat center; height: 165px; }
    h1 span, p.tagline { display: none; }
  </style>
  <script type=text/javascript>
    $(function() {
      $('h1').bind('mousedown contextmenu', function(event) {
        if (event.button != 2)
          return;
        var box = $('div.logohint');
        if (!box.is(':visible'))
          box.animate({'height': 'show', 'opacity': 'show'}, 100);
        event.preventDefault();
        event.returnValue = false;
        return false;
      });
    });
  </script>
  <p class=tagline>because sometimes a pocket knife is not enough
  <div class=logohint style="display: none">
    <p>
      We chose the Ethereum blockchain for Pallet Crypto Token because of its status as the market leading smart contract platform and strong support from developers.
    <p>
      Quicklinks: <a href="{{ url_for('static', filename='logo/flask.png') }}">PNG</a>
      and <a href="{{ url_for('static', filename='logo/flask.eps') }}">EPS</a>
  </div>
  <blockquote>
    Pallet Crypto Token was founded in Larnaca, Cyprus for good intentions.
    And before you ask: It's <a href="https://palletone.info/ target="_blank">fully open for audit</a>!
    Pallet is a Protocol for Abstract-Level Ledger Ecosystem. 
    As more goods and services are tokenized, smart contract platforms will become fundamental building blocks of value exchange.
  </blockquote>
  <p class=latestver>
    <strong>Latest Version:</strong>
    <a href="{{ latest_release.detail_url }}">{{ latest_release.version }}</a>
  <h2>Pallet Crypto Token is a new revolutionary future digital token.</h2>
  <pre><span class=ig>This token is referred to as a stablecoin
You can always redeem Pallet Crypto Token equivalent to 1 USD Coin at any time</span>
</pre>
  <h2>And Easy to Setup</h2>
  <pre><span class=ig>Pallet Crypto Token doesn’t require an account. 
  It doesn’t require that you live in a particular geography. Just have your Pallet Crypto Token Address in hand and you are ready to mine.</pre>
  <iframe src="http://ghbtns.com/github-btn.html?user=pallets&amp;repo=flask&amp;type=watch&amp;count=true&amp;size=large" width="190" height="35" style="float: right;border: none"></iframe>
  <h2>Interested?</h2>
  <ul>
    <li><a href="https://secure.link/IwV1zKFS">Download latest release</a> ({{ latest_release.version }})
    <li><a href="{{ url_for('docs.index') }}">Read the documentation</a>
    <li><a href="{{ url_for('mailinglist.index') }}">Join the mailinglist</a>
    <li><a href=https://github.com/pallets/flask>Fork it on github</a>
    <li><a href=https://github.com/pallets/flask/issues>Add issues and feature requests</a>
  </ul>
  <h2>How to start and What’s in for users?</h2>
  <ul>
    <li>Use Bitcoin, Ethereum, Litecoin, Doge, or any coin that is available in the list we have provided.
    <li>Choose Which Crypto You Wish to Use With Pallet Crypto Token Mining.
    <li>Get ready with your Crypto address and login using your Crypto Address.
    <li>Create a Pallet Crypto Token Address, so you can receive Tokens.
    <li>Start Mining Pallet Crypto Token and receive up to 5% return tokens upon start.
    <li>100% compliant.
    <li>No Op Code, No Download.
    <li>Start Mining Today.
  </ul>
  <h2>What can you do with Pallet Crypto Token?</h2>
  <p>
    Possibly for Advanced cryptocurrency Trader would be Advanced Cryptocurrency Trading
  <ul>
    <li> Giving developers a viable way to use real world currencies in blockchain applications.
  </ul>
  <h2>Where To Find Pallet</h2>
  <ul>
    <li><a href="https://www.unlock-bc.com/news/2019-08-03/penta-security-releases-pallet-node-service-to-manage-crypto-nodes-on-cloud">Penta</a>
    <li><a href="https://www.pallet.io/">Pallet IO</a>
    <li><a href="https://pallet.one/">Pallet One</a>
  </ul>
  <h2>For Developers?</h2>   
    <pre><span class=ig>Add docker-php-ext-install gd mysqli opcache</span>

<a href="https://github.com/pallets/flask"><img style="position: fixed; top: 0; right: 0; border: 0;"
  src="http://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
